* {
    margin: 20x;
    padding: 0px;
    height: 100vh;
    background:rgb(194, 192, 216);
    size-adjust: 25%;
}
body {
    padding: 15px;
  border: 3px solid rgb(226, 238, 236);
  border-style: dotted;
  margin: 70px;
  border-radius: 20px;
  position: relative;


}


.segment_solid:hover {
    background:darkblue;
    width: 40px;
      height: 25px;
      border-radius: 25px / 18px;

}


/*.img {
    height:50px;
    width: 50%;
    max-height: 100px;;
    max-width: 100px;
    border:25px solid rgb(51, 51, 219);
    border-radius: auto;
    
}*/
img {
    width: 100%;
    height: auto;
  }
.segment_solid {
    width: 25px;
    height: 25px;
    display:inline-block;
    margin: 0px;
    background: rgb(51, 51, 219);
     
        width: 25px;
        height: 25px;
        border-radius: 50%;
}

.bounding_box_w:hover {
    position: relative;
    width:240px;
    height:300px;
    background:rgb(194, 192, 216);
    margin: 30px;
    display:inline-block;

}
.combined {
    height:auto;
    width:auto;
}


.bounding_box_w {
    position: relative;
    width:240px;
    height:300px;
    background: rgb(194, 192, 216);
    margin: 30px;
    display:inline-block;
}
.bounding_box_i {
    position: relative;
    width:200px;
    height:300px;
    background: rgb(194, 192, 216);
    margin: 0px;
    display:inline-block;
}
.bounding_box_n {
    position: relative;
    width:240px;
    height:300px;
    background: rgb(194, 192, 216);
    margin: 0px;
    display:inline-block;
}
.bounding_box_d {
    position: relative;
    width:200px;
    height:300px;
    background: rgb(194, 192, 216);
    margin: 0px;
    display:inline-block;
}
.bounding_box_y {
    position: relative;
    width:200px;
    height:300px;
    background: rgb(194, 192, 216);
    margin: 0px;
    display:inline-block;
}


.segment_blank {
    width:25px;
    height: 25px;
    display:inline-block;
    margin: 0px;
    background: none;
   
}

.segment_blank:hover{
    /* background:blue; */
    
}


